<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Läufe - Termine & Ergebnisse</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/events"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active"><a href="#/map">Karte</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<h1>Karte</h1>
		<p>Auf dieser Karte werden die Standorte zu allen bisher absolvierten Läufen dargestellt. Durch Klick auf einen Standort können die Läufe eingesehen werden.</p>
	</div>
</div>

<div class="container">
	<div id="map" style="width: 100%; height: 700px; background-color: green;"></div>
</div>