<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Läufe - Termine & Ergebnisse</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/events"><span class="glyphicon glyphicon-home"></span></a></li>
				<li><a href="#/map">Karte</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<h1 ng-bind="event.name"></h1>
		<p ng-bind-template="{{ { 'startDate': event.startDate, 'endDate': event.endDate } | dateRangePretty }}, {{event.location.name}}"></p>
	</div>
</div>

<div class="container">

	<div class="row" style="text-align: center;" ng-if="countdown">
		<h3><span class="label label-default">Countdown</span> {{countdown | countdown}}</h3>
		<br/>
	</div>

	<div class="row">
		<div class="col-md-4">
			<ul class="nav">
				<li ng-if="event.runs"><a href="#runs">Ergebnisse</a></li>
				<li ng-if="event.costs"><a href="#costs">Kosten</a></li>
				<li ng-if="event.obstacles"><a href="#obstacles">Hindernisse</a></li>
				<li ng-if="event.newspaperArticle"><a href="#newspaperArticle">Zeitungsartikel</a></li>
				<li ng-if="event.pictures"><a href="#pictures">Fotos</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<div id="map" style="width: 600px; height: 400px; background-color: green;"></div>
		</div>

		<br/>
	</div>

	<div class="row" ng-if="event.runs">
		<h1 id="runs">Ergebnisse</h1>
		<hr/>
		<table class="table table-striped">
			<thead>
				<th>Startnummer</th>
				<th class="text-right">Startzeit</th>
				<th class="text-right">Distanz</th>
				<th class="text-right">Zeit</th>
				<th>Team</th>
				<th>Notiz</th>
			</thead>
			<tbody>
				<tr ng-repeat="run in event.runs | orderBy: -startTime">
					<td ng-bind="run.startNumber"></td>
					<td class="text-right" ng-bind="run.startTime | date: 'dd.MM.yyyy HH:mm'"></td>
					<td class="text-right" ng-bind="run.distance"></td>
					<td class="text-right" ng-bind="run.time"></td>
					<td ng-bind="run.team"></td>
					<td ng-bind="run.note"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row" ng-if="event.costs">
		<h1>Kosten</h1>
		<hr/>
		<table class="table table-striped">
			<thead>
				<th>Bezeichnung</th>
				<th class="text-right" ng-if="event.costs.foreignCurrency">Betrag ({{event.costs.foreignCurrency}})</th>
				<th class="text-right">Betrag (&euro;)</th>
			</thead>
			<tbody>
				<tr ng-repeat="position in event.costs.positions">
					<td ng-bind="position.description"></td>
					<td ng-if="event.costs.foreignCurrency" class="text-right" ng-bind="position.subTotalForeignCurrency | currency"></td>
					<td class="text-right" ng-bind="position.subTotal | currency"></td>
				</tr>
				<tr>
					<th>Gesamt</th>
					<th class="text-right" ng-bind="event.costs.totalForeignCurrency | currency" ng-if="event.costs.foreignCurrency"></th>
					<th class="text-right" ng-bind="event.costs.total | currency"></th>
				</tr>
			</tbody>
		</table>

		<br/>
	</div>

	<div class="row" ng-if="event.obstacles">
		<h1>Hindernisse</h1>
		<hr/>
		<table class="table table-striped">
			<thead>
				<th>Bezeichnung</th>
				<th>Beschreibung</th>
			</thead>
			<tbody>
				<tr ng-repeat="obstacle in event.obstacles">
					<td ng-bind="obstacle.name" style="white-space: nowrap;"></td>
					<td ng-if="!obstacle.facts" ng-bind="obstacle.description"></td>
					<td ng-if="obstacle.facts">
						<p ng-bind="obstacle.description"></p>
						<p>Facts:</p>
						<ul>
							<li ng-repeat="fact in obstacle.facts" ng-bind="fact"></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>

		<br/>
	</div>

	<div class="row" ng-if="event.newspaperArticle">
		<h1>Zeitungsartikel</h1>
		<hr/>
		<h2>{{event.newspaperArticle.title}} <small>{{event.newspaperArticle.date}} ({{event.newspaperArticle.newspaperName}})</small></h2>
		<p ng-if="event.newspaperArticle.subtitle"><strong ng-bind="event.newspaperArticle.subtitle"></strong></p>
		<span ng-repeat="section in event.newspaperArticle.sections">
			<p ng-if="section.title"><em ng-bind="section.title"></em></p>
			<p ng-repeat="paragraph in section.paragraphs" ng-bind="paragraph"></p>
		</span>
	</div>

	<div class="row" ng-if="event.pictures">
		<h1>Fotos</h1>
		<hr/>
		<div class="col-md-12">
			<a class="fancybox" rel="group" ng-repeat="pic in event.pictures" ng-href="images/{{eventKey}}/{{pic.file}}" title="{{pic.title}}">
				<img src="images/{{eventKey}}/thumbs/{{pic.file}}" class="img-thumbnail" alt="{{pic.title}}" style="margin: 5px;">
			</a>
		</div>

		<script type="text/javascript">
			$( document ).ready( function() {
				$( ".fancybox" ).fancybox( {
					helpers: {
						title: { type: 'inside' },
						buttons: {},
						thumbs: {
							width: 50,
							height: 50
						}
					}
				});
			});
		</script>
	</div>

</div>

<script>
	$map = L.map( 'map' ).setView( [51.3181, 12.41922], 6 );

	L.tileLayer( 'http://{s}.tiles.mapbox.com/v3/karstenroethig.jeb777o8/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		maxZoom: 18
	}).addTo( $map );


	function setMarker( location ) {
		if( location ) {
			L.marker( [ location.latitude, location.longitude ] ).addTo( $map ).bindPopup( location.name ).openPopup();
		}
	}
</script>
